html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

.parallax-window {
    min-height: 400px;
    background: transparent;
}

.Background {
    position: fixed;
    left: 50%;
    transform: translate(-50%);
}

#main {
    position: absolute;
    background: rgb(200, 200, 200);
    height: 1500px;
    width: 100%;
    top: 100%;
    box-shadow: 0px 0px 25px black;
}

.slider {
    position: relative;
    background: white;
    height: 300px;
    width: 100%;
    top: 10%;
    box-shadow: 0px 0px 25px black;
}